VITE_SUPABASE_URL= https://crmqeziialsjyxyujcad.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNybXFlemlpYWxzanl4eXVqY2FkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE5OTM2OTksImV4cCI6MjA4NzU2OTY5OX0.E07QZzOBI8zjJQuhZzUOLb6PEN3fU4IrD86VOf_GJbc

